# Ignore uploads folder inside WordPress folder
/wordpress/wp-content/uploads/

# Ignore wp-config.php file inside db folder
/db/wp-config.php

# Ignore WordPress cache files
/wordpress/wp-content/cache/
/wordpress/wp-content/upgrade/
/wordpress/wp-content/backup-db/
/wordpress/wp-content/backups/

# Ignore WordPress config file
/wordpress/wp-config.php

# Ignore WordPress debug log
/wordpress/debug.log

# Ignore WordPress temporary files
/wordpress/*.log
/wordpress/*.bak
/wordpress/*.sql
/wordpress/*.pot
/wordpress/*.po
/wordpress/*.mo

./credentials.json

./secrets/*

/db/*

